
.navigation {
    display: flex;
    gap: 1rem;
    align-items: center;
    padding: 1rem;
    background-color: #4d5bec;
    color: #fff;
}
.navigation-menu {
    background-color: transparent;
    border:none;
    color:white;
    cursor: pointer;
}
.expandable-menu {
    font-size: 32px;
    cursor: pointer;
}